<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"

	xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context-4.3.xsd
      http://www.springframework.org/schema/aop
      http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
      http://www.springframework.org/schema/tx
      http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
      http://www.springframework.org/schema/mvc
      http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">

	<context:component-scan base-package="pres.shen.five.service"/> 
     <context:component-scan base-package="pres.shen.five.service.impl"/> 
    <context:component-scan base-package="pres.shen.five.dao"/> 
    
	<!--1. 读取db.properties -->
	<context:property-placeholder
		location="classpath:db.properties" />
	<!--配置数据源 -->
	<bean id="dataSource"
		class="org.apache.commons.dbcp2.BasicDataSource">
		<!-- 数据库驱动 -->
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<!-- 连接数据库的url -->
		<property name="url" value="jdbc:mysql://localhost:3306/five?characterEncoding=utf-8&amp;serverTimezone=GMT%2B8" />
		<!-- 连接数据库的用户名 -->
		<property name="username" value="root" />
		<!-- 连接数据库的密码 -->
		<property name="password" value="123456" />
		<!-- 连接数据库的最大连接数 -->
<!-- 		<property name="maxTotal" value="${jdbc.maxTotal}" /> -->
		<!-- 连接数据库的最大空闲连接 -->
<!-- 		<property name="maxIdle" value="${jdbc.maxIdle}" /> -->
		<!-- 连接数据库的初始化连接数 -->
<!-- 		<property name="initialSize" value="${jdbc.initialSize}" /> -->
	</bean>
	
	<!--2. 事物管理器，依赖于数据源 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	 <!--3. 配置事务策略 -->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="find*" propagation="REQUIRED"  read-only="true"/>
            <tx:method name="save*" propagation="REQUIRED"/>
            <tx:method name="update*" propagation="REQUIRED"/>
            <tx:method name="delete*" propagation="REQUIRED"/>
            <tx:method name="*" propagation="SUPPORTS" read-only="true" />
        </tx:attributes>
    </tx:advice>
	<!-- 	切面 -->
	<aop:config>
		<aop:advisor advice-ref="txAdvice" 
			pointcut = "execution(* pres.shen.five.service.*.*(..))" />
	</aop:config>
	
	<!-- 4.配置MyBatis工厂 SqlSessionFactory -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 注入数据源 -->
		<property name="dataSource" ref="dataSource"/>
		<!-- 指定MyBatis核心配置文件位置 -->
		<property name="configLocation" value="classpath:mybatis-config.xml" />
	</bean>
	
	<!-- 5.接口开发扫描dao包 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
           <property name="basePackage" value="pres.shen.five.dao"></property>
      </bean>
	<!-- 配置扫描@Service 注解 -->
	<context:component-scan base-package="pres.shen.five.service"/>
	
</beans>